<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Agregar autor</h1>
      <form action="" method="POST">
        <p>
          <label for="id_nombres">Nombres:</label>
          <input
            type="text"
            name="nombres"
            maxlength="255"
            required
            id="id_nombres"
          />
        </p>
        <p>
          <label for="id_apellidos">Apellidos:</label>
          <input
            type="text"
            name="apellidos"
            maxlength="255"
            required
            id="id_apellidos"
          />
        </p>
        <p>
          <label for="id_ciudad">Ciudad:</label>
          <input
            type="text"
            name="ciudad"
            maxlength="255"
            required
            id="id_ciudad"
          />
        </p>
        <input
          type="hidden"
          name="libro_set-TOTAL_FORMS"
          value="3"
          id="id_libro_set-TOTAL_FORMS"
        /><input
          type="hidden"
          name="libro_set-INITIAL_FORMS"
          value="0"
          id="id_libro_set-INITIAL_FORMS"
        /><input
          type="hidden"
          name="libro_set-MIN_NUM_FORMS"
          value="0"
          id="id_libro_set-MIN_NUM_FORMS"
        /><input
          type="hidden"
          name="libro_set-MAX_NUM_FORMS"
          value="1000"
          id="id_libro_set-MAX_NUM_FORMS"
        />
        <tr>
          <th><label for="id_libro_set-0-titulo">Titulo:</label></th>
          <td>
            <input
              type="text"
              name="libro_set-0-titulo"
              maxlength="255"
              id="id_libro_set-0-titulo"
            />
          </td>
        </tr>
        <tr>
          <th>
            <label for="id_libro_set-0-fecha_publicacion"
              >Fecha publicacion:</label
            >
          </th>
          <td>
            <input
              type="text"
              name="libro_set-0-fecha_publicacion"
              id="id_libro_set-0-fecha_publicacion"
            />
          </td>
        </tr>
        <tr>
          <th>
            <label for="id_libro_set-0-numero_hojas">Numero hojas:</label>
          </th>
          <td>
            <input
              type="number"
              name="libro_set-0-numero_hojas"
              id="id_libro_set-0-numero_hojas"
            />
          </td>
        </tr>
        <tr>
          <th><label for="id_libro_set-0-DELETE">Eliminar:</label></th>
          <td>
            <input
              type="checkbox"
              name="libro_set-0-DELETE"
              id="id_libro_set-0-DELETE"
            /><input
              type="hidden"
              name="libro_set-0-autor"
              id="id_libro_set-0-autor"
            /><input
              type="hidden"
              name="libro_set-0-id"
              id="id_libro_set-0-id"
            />
          </td>
        </tr>
        <tr>
          <th><label for="id_libro_set-1-titulo">Titulo:</label></th>
          <td>
            <input
              type="text"
              name="libro_set-1-titulo"
              maxlength="255"
              id="id_libro_set-1-titulo"
            />
          </td>
        </tr>
        <tr>
          <th>
            <label for="id_libro_set-1-fecha_publicacion"
              >Fecha publicacion:</label
            >
          </th>
          <td>
            <input
              type="text"
              name="libro_set-1-fecha_publicacion"
              id="id_libro_set-1-fecha_publicacion"
            />
          </td>
        </tr>
        <tr>
          <th>
            <label for="id_libro_set-1-numero_hojas">Numero hojas:</label>
          </th>
          <td>
            <input
              type="number"
              name="libro_set-1-numero_hojas"
              id="id_libro_set-1-numero_hojas"
            />
          </td>
        </tr>
        <tr>
          <th><label for="id_libro_set-1-DELETE">Eliminar:</label></th>
          <td>
            <input
              type="checkbox"
              name="libro_set-1-DELETE"
              id="id_libro_set-1-DELETE"
            /><input
              type="hidden"
              name="libro_set-1-autor"
              id="id_libro_set-1-autor"
            /><input
              type="hidden"
              name="libro_set-1-id"
              id="id_libro_set-1-id"
            />
          </td>
        </tr>
        <tr>
          <th><label for="id_libro_set-2-titulo">Titulo:</label></th>
          <td>
            <input
              type="text"
              name="libro_set-2-titulo"
              maxlength="255"
              id="id_libro_set-2-titulo"
            />
          </td>
        </tr>
        <tr>
          <th>
            <label for="id_libro_set-2-fecha_publicacion"
              >Fecha publicacion:</label
            >
          </th>
          <td>
            <input
              type="text"
              name="libro_set-2-fecha_publicacion"
              id="id_libro_set-2-fecha_publicacion"
            />
          </td>
        </tr>
        <tr>
          <th>
            <label for="id_libro_set-2-numero_hojas">Numero hojas:</label>
          </th>
          <td>
            <input
              type="number"
              name="libro_set-2-numero_hojas"
              id="id_libro_set-2-numero_hojas"
            />
          </td>
        </tr>
        <tr>
          <th><label for="id_libro_set-2-DELETE">Eliminar:</label></th>
          <td>
            <input
              type="checkbox"
              name="libro_set-2-DELETE"
              id="id_libro_set-2-DELETE"
            /><input
              type="hidden"
              name="libro_set-2-autor"
              id="id_libro_set-2-autor"
            /><input
              type="hidden"
              name="libro_set-2-id"
              id="id_libro_set-2-id"
            />
          </td>
        </tr>
        <button class="btn btn-primary">Guardar</button>
        <input
          type="hidden"
          name="csrfmiddlewaretoken"
          value="HwdYJvonQY4ToHZFdBmUvM0RDr2myJaH6Ic2Fk74UMQdtTi1upq49KDdEIlzBi66"
        />
      </form>
    </div>
  </body>
</html>
